@charset "utf-8";
@import "_config";
.alert-layer{ position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, .5); z-index: 100; display: none; top: 0;
  &.show{ display: block }
  .alert-body{ width: 80%; background: #fff; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: px(10); color: #333; text-align: center; }
  .alert-title{ @include height(80); font-size: px(36); color: #333; text-align: center; padding-top: px(40); overflow: hidden; }
  .alert-close{ position: absolute; right: 5px; top: 5px; background: #000; display: block; width: 10px; height: 10px; }
  .alert-content{ padding: 20px; font-size: px(30); line-height: px(50) }
  .alert-button{ @include height(98); border-top: 1px solid #dfe3ea;
    .btn{ width: 50%; float: left; box-sizing: border-box; @include height(98); font-size: px(32); background: none; border: 0;
      &.btn-cancel{ }
      &.btn-confirm{ }
    }
  }
  /*成功失败，就是给添加一个字体图标伪类*/
  &.success{
    .alert-txt{
      &:before{ content: ''; width: 50px; height: 50px; background: #f60; display: block; margin: 0 auto; }
    }
  }
  &.failure{
  }
}
/*6位密码*/
.six-password{ box-sizing: border-box; @include height(68); border: 1px solid #dfe3ea; margin: 0 auto; width: px(390); position: relative; overflow: hidden; z-index: 3;
  .password{ width: 100%; @include height(66); opacity: 0; position: absolute; left: - px(20); top: 0; border: 0; z-index: 2; box-sizing: border-box; color: transparent; font-size: 1px; text-indent: -999px; height: 1px; }
  i{ display: block; width: px(64); @include height(64); text-align: center; border-left: 1px solid #dfe3ea; float: left; box-sizing: border-box; position: relative; background: #fff;
    &:first-child{ border-left-color: transparent; }
    &:after{ content: ''; display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-right: 1px solid transparent; }
    &.active:after{ width: 50%; border-right: 1px solid #333; height: px(40); display: block; top: px(12); animation: sixopacity 1s steps(1) infinite; -webkit-animation: sixopacity 1s steps(1) infinite; }
    &.ed:after{ width: 15px; height: 15px; background: #888d9c; border-radius: 50%; display: block; left: 50%; top: 50%; transform: translate(-50%, -50%); }
  }
  @at-root{
    @keyframes sixopacity{
      0%{ border-right: 1px solid transparent; }
      50%{ border-right: 1px solid #333; }
    }
    @-webkit-keyframes sixopacity{
      0%{ border-right: 1px solid transparent; }
      50%{ border-right: 1px solid #333; }
    }
  }
}
